<h3>Search for a Game Now!</h3>
<form action="/search">
  <div class="w3-row-padding" style="margin:0 -16px;">
    <div class="w3-half">
      <label for="title">Name of Game:</label>
      <input class="w3-input w3-border" type="text" placeholder="Name of Game" id="title" name="title">
    </div>
    <div class="w3-half">
      <label for="developer">or Developer Name:</label>
      <input class="w3-input w3-border" type="text" placeholder="Developer Name" id="developer" name="developer">
    </div>
  </div>
  <p><button class="w3-button w3-dark-grey">Search</button></p>
</form>
